@import "@inkline/inkline/css/variables";
@import "@inkline/inkline/css/mixins";

:root {
  --color--primary--h: 195deg;
  --color--primary--s: 77%;
  --color--primary--l: 39%;
  --border-top-left-radius: 0.5rem;
  --border-top-right-radius: 0.5rem;
  --border-bottom-right-radius: 0.5rem;
  --border-bottom-left-radius: 0.5rem;
}

.checkbox {
  ----border-radius: 0.3rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}
