name: Build static

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
        
defaults:
  run:
    working-directory: static/annoto

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: nvmrc=$(cat .nvmrc)
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: $nvmrc
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run test:e2e:ci
      - run: npm run test:unit:ci
